@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Universal Selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

input,
select {
    font-family: inherit;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    border: 1px solid rgb(223, 223, 223);
    border-radius: .5rem;
    padding: .7rem;
    outline: 0;
}

button {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(223, 223, 223);
    outline: 0;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: all .1s linear;
}

button:hover {
    transform: translate(1px, 1px);
}

li {
    list-style: none;
    margin: 1rem 0;
}

/* Issue Tracker */

/* Header */

header .container {
    display: flex;
    align-items: center;
    min-height: 10vh;
    color: rgba(255, 255, 255, 0.8);
}

header h2 {
    margin-left: .5rem;
}

/* Main Section */

main .container {
    min-height: 90vh;
}

.add_issue,
.issue_list {
    background: #fff;
    box-shadow: 0 .2rem 1rem rgba(255, 255, 255, .4);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.input_box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.input_box label {
    font-weight: 700;
    margin: 0.5rem 0;
}

.open {
    display: inline-block;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: .5rem;
    padding: .4rem;
    margin: .5rem 0;
}

.issue {
    display: flex;
    flex-direction: column;
}

.issue h2 {
    margin-top: .5rem;
}

.issue > i {
    margin: .3rem 0;
}

.issue > i > span {
    margin-left: .2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 00;
}

.issue > .btn-container {
    display: flex;
}

.issue > .btn-container > button:last-child {
    margin-left: 1rem;
}

/* Media Queries */

@media only screen and (max-width: 440px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    p, span, label {
        font-size: .8rem;
    }
}

/* Utilities */

.container {
    width: 1500px;
    max-width: 90%;
    margin: 0 auto;
}
